@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ibm;
  src: url("../../public/fonts/IBM/IBMPlexSansThai-Regular.ttf");
}

@media screen and (min-width: 1200px) {
  .intmn {
    max-width: 1126px;
  }
  .menuh {
    max-width: 1126px;
  }
  .bmenu {
    width: 1126px;
  }
  .csb {
    grid-template-columns: 578px 1fr;
    column-gap: 48px;
  }
}

@media screen and (min-width: 996px) {
  .intmn {
    grid-template-columns: minmax(auto, 431px) minmax(auto, 1fr);
    gap: 48px;
  }
  .scmenu {
    margin-bottom: 64px;
  }
  .menuh {
    padding-left: 0px;
  }
  .bmenu {
    width: 960px;
    padding-left: 0px;
  }
  .sccsmn {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .scint {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 16px;
  }
  .csb {
    grid-template-columns: minmax(auto, 300px) 1fr;
  }
  .imgcos {
    display: block;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 60px 116px)
      drop-shadow(rgba(0, 0, 0, 0.08) 0px 25.0666px 48.462px)
      drop-shadow(rgba(0, 0, 0, 0.016) 0px 13.4018px 25.9101px)
      drop-shadow(rgba(0, 0, 0, 0.024) 0px 7.51293px 14.525px)
      drop-shadow(rgba(0, 0, 0, 0.016) 0px 3.99006px 7.71412px)
      drop-shadow(rgba(0, 0, 0, 0.01) 0px 1.66035px 3.21002px);
    border-radius: 16px;
    object-fit: cover;
    height: 316px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .intmn {
    -webkit-box-pack: center;
    justify-self: center;
    grid-template-columns: minmax(auto, 350px) minmax(250px, 1fr);
  }
  .scint {
    margin-bottom: 32px;
  }
  .intimg {
    opacity: 1;
    visibility: visible;
    height: 100% !important;
  }
  .bmenu {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    width: 1128px;
    flex-direction: row;
  }
  .sccsmn {
    padding-left: 16px;
    padding-right: 16px;
  }
}

:root {
  font-family: ibm;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(249, 249, 249);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: ibm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizespeed;
}

.scint {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto 32px;
  padding: 64px 8px 64px 16px;
  background-color: rgb(249, 249, 249);
  width: 100%;
}

.intmn {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-self: start;
  display: grid;
  gap: 48px;
  grid-template-columns: minmax(auto, 350px) 1fr;
  max-width: 1126px;
  width: 100%;
}

.intsup {
  transition: all 500ms ease-in-out 0s;
  will-change: transition;
  z-index: 2;
  position: relative;
}

.intcon {
  box-sizing: border-box;
  min-height: 0px;
}

.intimg {
  opacity: 0;
  visibility: hidden;
  transition: all 600ms ease-in-out 0s;
  height: 0px !important;
}

.scmenu {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 32px;
}
.menuh {
  box-sizing: border-box;
  min-width: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  max-width: 1126px;
}

.bmenu {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-top: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: grid;
  gap: 16px;
  width: 1126px;
}

.screc {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 32px;
}

.rech {
  box-sizing: border-box;
  min-width: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  max-width: 1126px;
}

.brec {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-top: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: grid;
  gap: 16px;
  width: 1126px;
}

.sccsmn {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  padding: 60px 8px;
  width: 100%;
}

.sccsup {
  background: linear-gradient(
    105.59deg,
    rgba(238, 240, 247, 0) -14.4%,
    rgb(247 245 238) 98.37%
  );
  position: relative;
  z-index: 0;
}

.csh {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 16px;
  color: rgb(38, 38, 38);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.43;
}

.csct {
  box-sizing: border-box;
  min-width: 0px;
  margin: 30px auto 40px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 1140px;
}

.csb {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 64px;
  margin-top: 60px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 578px 1fr;
}

.imgcos {
  box-sizing: border-box;
  min-width: 0px;
  max-width: 100%;
  height: auto;
  display: none;
}

.cfcdtlt {
  box-sizing: border-box;
  min-width: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.cfcdtl {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 25px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.cfcdtltdi {
  background-color: #cac327;
  border-radius: 50%;
  place-items: center;
  color: white;
  flex: 0 0 auto;
}

.dtlti {
  box-sizing: border-box;
  min-width: 0px;
  margin-right: 16px;
  display: grid;
  width: 24px;
  height: 24px;
}

.sctn {
  box-sizing: border-box;
  min-width: 0px;
  margin: 40px auto;
  padding: 0px 16px;
  max-width: 100%;
}

.scb {
  box-sizing: border-box;
  min-width: 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: grid;
  gap: 16px;
  width: 100%;
}

.ascdt {
  box-sizing: border-box;
  min-width: 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #34454c;
}

.dtasc {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 32px;
  place-items: flex-start center;
  display: grid;
  gap: 8px;
  grid-template-rows: 140px 30px 45px auto;
}

.sch {
  box-sizing: border-box;
  min-width: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  max-width: 1126px;
  text-align: center;
}

.scinter {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto 32px;
  padding: 64px 8px 64px 16px;
  background-color: rgb(249, 249, 249);
  width: 100%;
}

.interh {
  box-sizing: border-box;
  min-width: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  max-width: 1126px;
}

.interb {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  display: grid;
  -moz-column-gap: 24px;
  column-gap: 24px;
  grid-template-columns: 578px 1fr;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-input {
  padding: 0;
  transition: width 0.1s ease-in-out;
}
.search-input.active {
  width: 300px;
  padding: 0 1.5rem;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.scintcosp {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto 32px;
  padding: 64px 8px 64px 16px;
  background-color: rgb(249, 249, 249);
  width: 100%;
}

.intcosp {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  align-items: center;
  -webkit-box-pack: start;
  justify-self: start;
  max-width: 1126px;
  width: 100%;
  text-align: center;
  position: relative;
}

.intcosph {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  align-items: center;
  -webkit-box-pack: start;
  justify-self: start;
  display: grid;
  gap: 48px;
  grid-template-columns: minmax(auto, 350px) 1fr;
  max-width: 1126px;
  width: 100%;
}

.imgIntroCos {
  /* width: 100%; */
  /* height: auto; */
  max-height: 400px;
  padding: 5px;
  margin: auto;
}

.hIntroCos {
  position: absolute;
  top: 10%;
  margin: 0px auto;
  box-sizing: border-box;
  min-width: 0px;
  align-items: center;
  -webkit-box-pack: start;
  justify-self: start;
  padding: 20px;
  /* width: 100%; */
}
